body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 15px;
    width: 500px;
}

.container {
    background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

/* .upload-box {
    border: 2px dashed #ccc;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
} */
.upload-box {
    width: 300px;
    /* Adjust size as needed */
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.upload-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Ensures the whole image is visible */
    position: absolute;
}

button {
    background: linear-gradient(135deg, #b371f9, #3e7dea);
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    filter: brightness(1.1);
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 10px;
    margin: 10px;
}